// darkmode theme default
$theme: rgb(14, 15, 18);
$theme-element: rgb(56, 56, 62);
$theme-text: rgb(219, 219, 226);

// TODO: need to toggle this somehow
// lightmode
// $theme: rgb(219, 219, 226)
// $theme-element: rgb(255, 255, 255);
// $theme-element: rgb(14, 15, 18);

$purple: rgb(125, 71, 251);
$teal: rgb(67, 181, 199);
$blue: rgb(42, 84, 209);
$red: rgb(249, 89, 99);
